.material-container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;

  mat-card {
    max-width: 500px;
    margin: 1rem auto;

    mat-card-content {
      p {
        margin: 0.5rem 0;
        line-height: 1.6;
      }
    }

    mat-card-actions {
      padding: 1rem;

      button {
        mat-icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
