<div class="credit-card-screen">
    <div class="credit-card-screen__container">
        <h2 class="credit-card-screen__title">Add New Credit Card</h2>

        <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()" class="credit-card-screen__form">


            <div class="credit-card-screen__form-group">
                <label class="credit-card-screen__label" for="cardNumber">
                    Card Number * <span class="credit-card-screen__hint">(7-16 digits)</span>
                </label>
                <input
                    type="text"
                    id="cardNumber"
                    formControlName="cardNumber"
                    (input)="onDigitInput($event, 'cardNumber', 16)"
                    class="credit-card-screen__input"
                    [class.credit-card-screen__input--error]="showError('cardNumber')"
                    placeholder="1234567890123456"
                    maxlength="16"
                />
                @if (showError('cardNumber')) {
                    <span class="credit-card-screen__error">
                        {{ getError('cardNumber') }}
                    </span>
                }
            </div>


            <div class="credit-card-screen__form-group">
                <label class="credit-card-screen__label" for="cardholderName">Cardholder Name *</label>
                <input
                    type="text"
                    id="cardholderName"
                    formControlName="cardholderName"
                    class="credit-card-screen__input"
                    [class.credit-card-screen__input--error]="showError('cardholderName')"
                    placeholder="John Doe"
                />
                @if (showError('cardholderName')) {
                    <span class="credit-card-screen__error">
                        {{ getError('cardholderName') }}
                    </span>
                }
            </div>


            <div class="credit-card-screen__form-group">
                <label class="credit-card-screen__label" for="cscCode">
                    CSC Code * <span class="credit-card-screen__hint">(3 digits)</span>
                </label>
                <input
                    type="text"
                    id="cscCode"
                    formControlName="cscCode"
                    (input)="onDigitInput($event, 'cscCode', 3)"
                    class="credit-card-screen__input"
                    [class.credit-card-screen__input--error]="showError('cscCode')"
                    placeholder="123"
                    maxlength="3"
                />
                @if (showError('cscCode')) {
                    <span class="credit-card-screen__error">
                        {{ getError('cscCode') }}
                    </span>
                }
            </div>


            <div class="credit-card-screen__form-row">

                <div class="credit-card-screen__form-group">
                    <label class="credit-card-screen__label" for="expiryDateMonth">
                        Expiry Month * <span class="credit-card-screen__hint">(1-12)</span>
                    </label>
                    <input
                        type="number"
                        id="expiryDateMonth"
                        formControlName="expiryDateMonth"
                        (input)="onDigitInput($event, 'expiryDateMonth', 2)"
                        class="credit-card-screen__input"
                        [class.credit-card-screen__input--error]="showError('expiryDateMonth')"
                        placeholder="12"
                        min="1"
                        max="12"
                    />
                    @if (showError('expiryDateMonth')) {
                        <span class="credit-card-screen__error">
                            {{ getError('expiryDateMonth') }}
                        </span>
                    }
                </div>


                <div class="credit-card-screen__form-group">
                    <label class="credit-card-screen__label" for="expiryDateYear">Expiry Year *</label>
                    <input
                        type="number"
                        id="expiryDateYear"
                        formControlName="expiryDateYear"
                        (input)="onDigitInput($event, 'expiryDateYear', 2)"
                        class="credit-card-screen__input"
                        [class.credit-card-screen__input--error]="showError('expiryDateYear')"
                        placeholder="25"
                        min="24"
                    />
                    @if (showError('expiryDateYear')) {
                        <span class="credit-card-screen__error">
                            {{ getError('expiryDateYear') }}
                        </span>
                    }
                </div>
            </div>


            <div class="credit-card-screen__form-group">
                <label class="credit-card-screen__label" for="issuer">Issuer *</label>
                <select
                    id="issuer"
                    formControlName="issuer"
                    class="credit-card-screen__input"
                    [class.credit-card-screen__input--error]="showError('issuer')"
                >
                    <option value="">Select an issuer</option>
                    @for (issuer of issuers; track issuer) {
                        <option [value]="issuer">{{ issuer }}</option>
                    }
                </select>
                @if (showError('issuer')) {
                    <span class="credit-card-screen__error">
                        {{ getError('issuer') }}
                    </span>
                }
            </div>


            @if (submitted && creditCardForm.invalid) {
                <div class="credit-card-screen__form-error">
                    Please fix the errors above before submitting.
                </div>
            }


            <div class="credit-card-screen__actions">
                <button
                    type="button"
                    class="credit-card-screen__button credit-card-screen__button--cancel"
                    (click)="onCancel()"
                >
                    Cancel
                </button>
                <button
                    type="submit"
                    class="credit-card-screen__button credit-card-screen__button--submit"
                >
                    Add Credit Card
                </button>
            </div>
        </form>
    </div>
</div>
