:host {
  display: block;
  padding: 1rem;
}
h2 {
  color: #3f51b5;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
  li {
    margin-bottom: 0.5rem;
    a {
      color: #1976d2;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}
